.container{
    display: flex;    
    padding-bottom: 5px; 
}

.info{
    color:#adff2f;
}

.error{
    color:salmon;
}

.buttonContainer{
    background-color: #6c63ff;
    color:#ffffff;
    font-weight: 600;
    padding: 0 15px;
    border:none;
    border-bottom-right-radius:5px;
    border-top-right-radius:5px;
}

.buttonContainer:active,
.buttonContainer:focus {
    outline:none;
}
