.container{
    display: flex;
    
}

.buttonContainer{
    background-color: #6c63ff;
    color:#ffffff;
    font-weight: 600;
    padding: 0 15px;
    border:none;
}

.buttonContainer:active,
.buttonContainer:focus {
    outline:none;
 }