.container{
    display:flex;
    flex-direction: row;
    background-color: #DCDCDC;
    height: 100vh;
}

.leftContainer{
    display: flex;
    padding-left:50px;
    width: 40%;
    align-items: center;
}

.rightContainer{
    padding-left:50px;
    width: calc( 60% - 50px );
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.comingSoonText{
    color:#363636;
    font-weight: 600px;
    font-size:42px;
    padding-bottom:10px;
}

.notifyMeText{
    color:#6c63ff;
    font-size:28px;
    font-weight: 600px;
    padding-bottom: 10px;
}

.icon{
    position: fixed;
    width: 200px;
    top:50px;
    left:50px;
}

@media (max-width:420px) {
    .container{
        flex-direction: column;
        min-height: 100vh;
        height: fit-content;
    }

    .rightContainer{
        height: fit-content;
        width: 100%;
        padding:0;
    }

    .leftContainer{
        width: 100%;
        padding:30px 0;
    }

    .comingSoonText{
        font-size:32px;
    }
    
    .notifyMeText{
        font-size:20px;
    }
}